In [1]:
import joblib
import pandas as pd

In [2]:
sav_model = joblib.load('mr_model.sav')
print(sav_model)

LinearRegression()

In [3]:
surface = [15,132,187,45,12]
rooms_new = [4,7,2,3,9]

In [4]:
raw_data = pd.DataFrame({'surface':surface,'rooms_new':rooms_new})
raw_data

   surface  rooms_new
0       15          4
1      132          7
2      187          2
3       45          3
4       12          9

In [5]:
sav_model.predict(raw_data)

array([-182118.07660369,  666050.58611216, 1317363.50669309,
        105078.98675399, -403926.10662896])